body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
  }
  
  .login-form {
    padding: 20px;
    padding-left: 10px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #3498db;
  }
  
  label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    pointer-events: none;
    transition: transform 0.3s, color 0.3s;
  }
  
  input:focus + label,
  input:not(:placeholder-shown) + label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #3498db;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  


   /* body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
  }
  
  .login-form {
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .login-form.animated {
    opacity: 1;
    transform: translateY(0);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #3498db;
  }
  
  label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    pointer-events: none;
    transition: transform 0.3s, color 0.3s;
  }
  
  input:focus + label,
  input:not(:placeholder-shown) + label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #3498db;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }
   */